body{
    background-color: lightblue;
    box-sizing: border-box;
    align-items: center;
}
        .menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            background-color: red;
        }
    
        .menu li {
            margin: 0;
        }
    
        .menu li a {
            display: block;
            color: #fff;
            text-align: center;
            padding: 10px;
            text-decoration: none;
        }
    
        .menu li a:hover {
            background-color: #555;
        }
 .box {
     margin: 0 auto;
     width: 400px;
     border: 1px solid black;
     padding: 20px;
     color: white;
            border-radius: 5px;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
                background-color: blue;
                margin-bottom: 10px;
 }
  button[type="submit"] {
      text-align: center;
      background-color: blue;
      margin: auto;
      display: block;
  }
.result{
    text-align:center;
}